# 민감한 디렉토리 접근 차단
<FilesMatch "^.*(\.env|config\.php|database\.php|session\.php)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]